CREATE DATABASE job_board;
GO
USE [master]
GO
/****** Object:  Database [job_board]    Script Date: 7/28/2016 3:49:32 PM ******/
CREATE DATABASE [job_board]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'job_board', FILENAME = N'C:\Users\epicodus\job_board.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'job_board_log', FILENAME = N'C:\Users\epicodus\job_board_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [job_board].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [job_board]
GO
USE [job_board]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 7/28/2016 3:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](355) NULL,
	[last_name] [varchar](355) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[education] [int] NULL,
	[resume] [varchar](5000) NULL,
	[username] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/28/2016 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[companies]    Script Date: 7/28/2016 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 7/28/2016 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NULL,
	[description] [varchar](5000) NULL,
	[salary] [int] NULL,
	[company_id] [int] NULL,
	[category_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jobs_keywords]    Script Date: 7/28/2016 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs_keywords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NULL,
	[keyword_id] [int] NULL,
	[number_of_repeats] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[keywords]    Script Date: 7/28/2016 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[keywords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[word] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Sales')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Accounting')
INSERT [dbo].[categories] ([id], [name]) VALUES (4, N'Programming')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[companies] ON 

INSERT [dbo].[companies] ([id], [name]) VALUES (2, N'Dick''s Sporting Goods')
INSERT [dbo].[companies] ([id], [name]) VALUES (3, N'Columbia Sportswear')
INSERT [dbo].[companies] ([id], [name]) VALUES (4, N'Nike')
SET IDENTITY_INSERT [dbo].[companies] OFF
SET IDENTITY_INSERT [dbo].[jobs] ON 

SET IDENTITY_INSERT [dbo].[jobs] OFF
SET IDENTITY_INSERT [dbo].[jobs_keywords] ON 

INSERT [dbo].[jobs_keywords] ([id], [job_id], [keyword_id], [number_of_repeats]) VALUES (26, 2, 26, 12)
INSERT [dbo].[jobs_keywords] ([id], [job_id], [keyword_id], [number_of_repeats]) VALUES (27, 2, 27, 4)
INSERT [dbo].[jobs_keywords] ([id], [job_id], [keyword_id], [number_of_repeats]) VALUES (28, 2, 28, 3)
GO
SET IDENTITY_INSERT [dbo].[jobs_keywords] OFF
SET IDENTITY_INSERT [dbo].[keywords] ON 

INSERT [dbo].[keywords] ([id], [word]) VALUES (26, N'dicks')
INSERT [dbo].[keywords] ([id], [word]) VALUES (27, N'passion')
INSERT [dbo].[keywords] ([id], [word]) VALUES (28, N'sporting')
GO
SET IDENTITY_INSERT [dbo].[keywords] OFF
USE [master]
GO
