<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/singular-views.css" type="text/css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/companies">Companies</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/new">Create Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>@Model.GetName()</h1>
    <h2 class="h2-headers">View All Jobs In Company</h2>
    @foreach (var job in Model.GetJobs())
    {
      <ul>
        <li><a href="/jobs/@job.GetId()/@job.GetTitle()" id="list-names">@job.GetTitle()</a></li>
      </ul>
    }
    <h2 class="h2-headers">Update Your Company</h2>
    <form class="from-group" action="/companies/@Model.GetId()/@Model.GetName()/updated" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <h2>Name<input type="text" name="company-name" class="form-control" id="last-input"></h2>
      <button type="submit" class="btn btn-success">Update Company</button>
    </form>
    <form class="form-group" action="/companies/@Model.GetId()/@Model.GetName()/deleted" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" name="button" class="btn btn-danger">Delete Company</button>
    </form>
  </div>
</body>
