* {
  font-family: serif;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/Mountain.jpg");
  background-size: cover;
}

.navbar-inverse {
  background-color: #000000;
  background: rgba(0,0,0,0.25);
  border: rgba(0,0,0,0.25);
}

.navbar-inverse a {
  padding-top: 35px;
  font-size: 18pt;
}

.index-jumbotron {
  background: rgba(0,0,0,0.25);
  color: #FFFFFF;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 200px;
  margin-right: 75px;
  margin-left: 75px;
  margin-bottom: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.index-jumbotron .btn-success, .btn-danger{
  background: rgba(0,0,0,0.25);
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  margin-top: 50px;
}

.index-jumbotron .btn-danger {
  width: 450px;
  margin-top: 100px;
}

.index-jumbotron .btn-success:hover {
  background-color: green;
}

.login-jumbotron {
  background: rgba(0,0,0,0.25);
  color: #FFFFFF;
  width: 625px;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.login-jumbotron .btn-success{
  background: rgba(0,0,0,0.25);
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  margin-top: 100px;
}

.login-jumbotron .btn-success:hover {
  background-color: green;
}

.login-jumbotron input {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

input:focus {
  color: #000000;
}

.glyphicon-user {
  font-size: 100pt;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
